@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  /* background: rgb(31, 71, 85); */
  background: url(./assets/lp.png);
  background-size: cover; /* Adjust this as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* This keeps the image fixed while scrolling */
  background-position: center;
}
.content {
  color: #030000;
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
  width: 35vw;
  margin: auto;
  line-height: 1;
  margin-top: 5%;
}
.content span {
  line-height: 1.8;
  font-size: 2.5em;
  font-weight: bolder;
}
.content p {
  opacity: 0.9;
}
.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.download-button-container {
  margin-bottom: 10px;
  margin: 0 10px;
}

.download-button {
  display: block;
  background-color: #0074d9;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.small-button {
  display: block;
  background-color: #0074d9;
  color: #fff;
  text-align: center;
  padding: 5px 10px; /* Smaller padding */
  text-decoration: none;
  border-radius: 5px;
}

.large-button {
  display: block;
  background-color: #0074d9;
  color: #fff;
  text-align: center;
  padding: 20px 30px; /* Larger padding */
  text-decoration: none;
  border-radius: 5px;
  font-weight: bolder;
}

.download-button:hover {
  background-color: #0056b3;
}
.members {
  margin-top: 58px;
  background: rgb(17, 34, 88);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.members h3 {
  padding: 20px;
  color: white;
  opacity: 0.8;
}
.members h4 {
  padding: 15px;
  color: white;
  opacity: 0.7;
}
.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(23, 29, 81);
  height: 20vh;
  text-align: center;
  color: white;
  opacity: 0.8;
}

@keyframes textAnimation {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

span {
  display: inline-block;
  animation: textAnimation 1s ease-in-out forwards;
}

/* Responsive Design */
@media (max-width: 768px) {
  .content {
    padding: 10%;
    text-align: start;
    width: 100%;
  }
  .content h2 {
    line-height: 1.5;
  }
  .content span {
    font-size: 30px;
    font-weight: 400;
    font-weight: bolder;
  }
  
  @media (max-width: 768px) {
    .small-button, .large-button {
        padding: 8px 16px; /* Adjust for smaller screens */
    }
}

@media (max-width: 480px) {
  .btn{
    display: flex;
    flex-direction: column;
  }
    .btn-container {
        flex-direction: column; /* Stack buttons on smaller screens */
    }

    .download-button-container {
        margin: 10px 0; /* Adjust vertical spacing */
    }

    .large-button {
        padding: 25px 25px; 
        font-size: larger;
        width: 100%;
    }
}
  .members {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    padding: 10px;
  }

  .members h3 {
    font-size: 18px; /* Adjust the font size for smaller screens */
    padding: 5px;
  }
  .members h4 {
    text-align: start;
    opacity: 0.6;
    color: white;
    line-height: 1.5;
    padding: 2px;
  }
}
@media (max-width: 422px) {
  .members {
    margin-top: 60%;
  }
}
@media (max-width: 380px) {
  .members {
    margin-top: 30%;
  }
}
